body{
 background-color: black;
}

a {
  text-decoration: none;
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  padding: 20px;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A6A6A6;
  clip-path: circle(0 at center);
  transition: clip-path 0.8s;
  z-index: -1;
}

a:hover::before {
  clip-path: circle(100% at center);
}

.navbar a:hover::before{
    width: 100%;
  }

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 90px;
}

li {
    color: white;
}

p{
  color: white;
  font-size: 45px;
}

.jersey10 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  font-size: 45px;
}

a {
  font-size: 35px;
}